<nav class="header-nav">
    <a href="{{ path('app_home') }}" title="Home">Hell</a>
    <a href="{{ path('app_test') }}" title="Chataniques Tests">Tests Chataniques</a>
    <a href="{{ path('app_infos') }}" title="About us">About Chatan</a>
    <a href="{{ path('app_wish_list') }}" title="Wishlist">Evil plans</a>
    <a href="{{ path('app_wish_create') }}" title="Create plan">Add an evil plan</a>
</nav>
